<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>회원테이블</title>
</head>
<body>

<!--*******************
 Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
     Nav header start
 ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>

  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">회원 관리 테이블</h4>

              <div class="table-responsive" style="margin-top:50px; margin-bottom:50px">
                <table class="table table-hover">
                  <thead>
                  <select name="roles" id="role">
                    <option value="all">전체</option>
                    <option value="general">일반 회원</option>
                    <option value="warehouse">창고 관리자</option>
                    <option value="administrator">총관리자</option>
                  </select>
                  </thead>
                </table>
              </div>

              <div class="table-responsive">
                <table class="table table-hover text-center">
                  <thead>
                  <tr>
                    <th>번호</th>
                    <th>회원 이름</th>
                    <th>회원 아이디</th>
                    <th>회원 이메일</th>
                    <th>권한</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr th:each="member, iterStat : ${memberList}">
                      <td th:text="${member.pkMemberSeq}">번호</td>
                      <td th:text="${member.vMemberNm}">회원 이름</td>
                      <td th:text="${member.vMemberId}">회원 아이디</td>
                      <td th:text="${member.vEmail}">회원 이메일</td>
                      <td th:text="${member.vMemberAuth}">권한</td>
                      <td>
                        <form>
                          <button class="btn btn-primary">수정</button>
                        </form>
                      </td>
                      <td>
                        <form>
                          <button class="btn btn-primary">삭제</button>
                        </form>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
</body>

</html>
