
<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
<!--*******************
    Preloader end
********************-->





<div class="login-form-bg h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center" href="index.html"> <h4>로그인</h4></a>

              <form class="mt-5 mb-5 login-input">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="아이디">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="비밀번호">
                </div>
                <div class="text-center" style="margin-top: 50px;">
                  <button class="btn login-form__btn submit align-content-center" style="width: 300px; height: 45px;">로그인</button>
                </div>
              </form>

              <div class="text-center">
                <a href="https://kauth.kakao.com/oauth/authorize"
                   th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}">
                  <img src="/../../theme/images/imgs/kakao_login_medium_wide.png">
                </a>
              </div>

<!--              <div id="kakao-login-btn"></div>-->
              <p class="mt-5 login-form__footer text-right"><a href="page-register.html" class="text-primary">비밀번호 찾기</a></p>
              <p class="mt-5 login-form__footer text-right"><a href="page-register.html" class="text-primary">비밀번호 찾기</a></p>
              <p class="mt-5 login-form__footer"><a href="page-register.html" class="text-primary">회원가입</a></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--**********************************
    Scripts
***********************************-->
<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
  // 카카오 로그인 버튼 생성
  Kakao.init('YOUR_KAKAO_APP_KEY'); // 여기에 카카오 앱 키를 입력하세요.

  Kakao.Auth.createLoginButton({
    container: '#kakao-login-btn',
    success: function(authObj) {
      alert(JSON.stringify(authObj));
    },
    fail: function(err) {
      alert(JSON.stringify(err));
    }
  });
</script>


</body>
</html>





