<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body class="h-100">
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                    <a class="text-center" href="index.html"> <h4><b>회원가입</b></h4></a>
                                <form class="mt-5 mb-5 login-input">
                                    <div class="form-group d-flex justify-content-between">
                                      <input type="text" class="form-control w-75"  placeholder="이름" required>
                                    </div>
                                  <div class="form-group d-flex justify-content-between">
                                    <input type="text" class="form-control w-75"  placeholder="아이디" required>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customAlert" id="alertButton">중복확인</button>

                                  </div>
                                  <div class="passwordEye">
                                    <div class="form-group d-flex justify-content-between w-75S">
                                      <input type="password" name = "pwd" class="form-control" placeholder="비밀번호" required>
                                      <i class="fa fa-eye-slash fa-lg"></i>
                                    </div>
                                    <div class="form-group d-flex justify-content-between w-75">
                                      <input type="password" name= "pwdCheck" class="form-control" placeholder="비밀번호 확인" required>
                                        <i class="fa fa-eye-slash fa-lg"></i>
                                    </div>
                                  </div>
                                  <div class="form-group d-flex justify-content-between">
                                        <input type="email" name = "email" class="form-control w-75" placeholder="이메일" required>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">가입하기</button>
                                </form>
                                    <p class="mt-5 login-form__footer">기존 회원이신가요? <a href="page-login.html" class="text-primary">로그인</a></p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <script>
      $(function () {
        $('.passwordEye i').on('click', function () {
          $('input').toggleClass('active');

          if ($('input').hasClass('active')) {
            $(this).attr('class', "fa fa-eye fa-lg")
              .prev('input').attr('type', "text");
          } else {
            $(this).attr('class', "fa fa-eye-slash fa-lg")
              .prev('input').attr('type', 'password');
          }
        });
      });

      //아이디 중복 확인 버튼 클릭 시 alert창 생성
      $(document).ready(function(){
        $("#alertButton").click(function(){
          alert("중복된 아이디입니다.\n다른 아이디를 입력해주세요");
        });
      });


    </script>



</body>
</html>





