<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>로그인</title>
</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<div class="login-form-bg h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center" href="index.html"> <h4>로그인</h4></a>

              <form class="mt-5 mb-5 login-input">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="아이디">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="비밀번호">
                </div>
                <div class="text-center" style="margin-top: 50px;">
                  <button class="btn login-form__btn submit align-content-center" style="width: 300px; height: 45px;">로그인</button>
                </div>
              </form>

              <div class="text-center">
                <a th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}" target="_blank">
                  <img th:src="@{/static/images/imgs/kakao_login_medium_wide.png}" alt="kakao login btn"/>
                </a>
              </div>

              <p class="mt-5 login-form__footer text-right"><a href="page-register.html" class="text-primary">비밀번호 찾기</a></p>
              <p class="mt-5 login-form__footer"><a href="page-register.html" class="text-primary">회원가입</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
<script th:src="@{https://developers.kakao.com/sdk/js/kakao.js}"></script>
<script>
  // 카카오 로그인 버튼 생성
  Kakao.init('${kakaoApiKey}');

  Kakao.Auth.createLoginButton({
    container: '#kakao-login-btn',
    success: function(authObj) {
      alert(JSON.stringify(authObj));
    },
    fail: function(err) {
      alert(JSON.stringify(err));
    }
  });
</script>

</body>
</html>
