<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />

  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>회원 가입</title>
</head>

<body class="h-100">
<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<div class="h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center">
                <div>
                  <h4>
                    <b>회원가입</b>
                  </h4>
                </div>
              </a>
              <form id="signup-form" class="mt-5 mb-5 login-input">
                <div class="form-group d-flex justify-content-between">
                  <input type="text" id = "vMemberNm" name="vMemberNm" class="form-control w-75" placeholder="이름"/>
                </div>
                <div class="form-group d-flex justify-content-between" id="form-id">
                  <input type="text" id = "vMemberId" name="vMemberId" class="form-control w-75" placeholder="아이디"/>
                  <input type="button" class="btn btn-primary btn-sm"
                          id="checkButton" value="중복확인"/>
                </div>
                <div class="passwordEye">
                  <div class="form-group d-flex justify-content-between w-75">
                      <input type="password" id="vMemberPw" name="vMemberPw" class="form-control" placeholder="비밀번호"/>
                      <i class="fa fa-eye-slash fa-lg"></i>
                  </div>
                  <div class="form-group d-flex justify-content-between w-75">
                      <input type="password" id="pwd" class="form-control" placeholder="비밀번호 확인"/>
                      <i class="fa fa-eye-slash fa-lg"></i>
                  </div>
                  <div>
                    <span id="pwdCheck" style="color: red; display:none;">비밀번호가 일치하지 않습니다.</span>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <input type="email" id = "vEmail" name="vEmail" class="form-control w-75" placeholder="이메일"/>
                </div>
                <input class="btn btn-primary submit w-100" type="button" onclick="signupRequest()" value="가입하기"/>
              </form>
              <p class="mt-5">기존 회원이신가요? <a href="/user/login" class="text-primary">로그인</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
<script th:src="@{/js/Member.js}"></script>

</body>
</html>





