<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>상품 조회</title>
  <style>
    .dataTables_paginate{
      display: none;
    }
  </style>
</head>
<body>
<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">상품 관리</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">상품 조회</a></li>
        </ol>
      </div>
    </div>
    
    <!-- row -->
    <div class="container-fluid mt-3">
      <div class="col-lg-12">
        <h1>상품조회</h1>
      </div>

      <div class="col-lg-12 mb-4 text-right">

      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">상품조회</h4>

            <div class="table-responsive">
              <table class="table table-hover zero-configuration">
                <thead>
                <tr>
                  <th>상품코드</th>
                  <th>이미지</th>
                  <th>상품명</th>
                  <th>가격</th>
                  <th>브랜드</th>
                  <th>원산지</th>
                  <th>제조사</th>
                  <th>판매상태</th>
                  <th>제조일</th>
                  <th>카테고리 코드</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, iterStat : ${productList}">
                  <td th:text="${product.vProductCd}"></td>
                  <td>
                    <a th:href="${product.vProductImg}" target="_blank">
                      <img th:src="${product.vProductImg}" style="max-width: 4rem; max-height: 4rem;">
                    </a>
                  </td>
                  <td>
                    <span
                          data-toggle="tooltip" th:title="${product.vProductNm}" th:text="${#strings.length(product.vProductNm) &gt; 10} ? ${#strings.substring(product.vProductNm, 0, 10)} + '...' : ${product.vProductNm}">
                    </span>
                  </td>

                  <td th:text="${product.nProductPrice}"></td>
                  <td th:text="${product.vProductBrand}"></td>
                  <td th:text="${product.vProductOrigin}"></td>
                  <td>
                    <span
                            data-toggle="tooltip" th:title="${product.vProductManufactor}" th:text="${#strings.length(product.vProductManufactor) &gt; 10} ? ${#strings.substring(product.vProductManufactor, 0, 10)} + '...' : ${product.vProductManufactor}">
                    </span>
                  </td>
                  <td th:text="${product.vProductStatus}"></td>
                  <td th:text="${product.dProductManufactorDate}"></td>
                  <td th:text="${product.vCategoryCd}"></td>
                </tr>
                </tbody>
              </table>
              <div class="row col-lg-12 justify-content-lg-end">
                <div class="row">
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <!-- 처음, 이전 페이지 버튼 -->
                      <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=1)}">처음</a>
                      </li>
                      <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=${currentPage - 1})}">이전</a>
                      </li>

                      <!-- 페이지 번호 버튼 -->
                      <li class="page-item"
                          th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                          th:classappend="${pageNum == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/product(page=${pageNum})}"
                           th:text="${pageNum}"></a>
                      </li>

                      <!-- 다음, 마지막 페이지 버튼 -->
                      <li class="page-item"
                          th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=${currentPage + 1})}">다음</a>
                      </li>
                      <li class="page-item"
                          th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/product(page=${totalPages})}">마지막</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- /# card -->
    </div>
  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->

  <!--**********************************
      Scripts
  ***********************************-->
  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
</div>
</body>

</html>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
