<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>SSGSSAG</title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card gradient-1">
            <div class="card-body">
              <h3 class="card-title text-white">Products Sold</h3>
              <div class="d-inline-block">
                <h2 class="text-white">4565</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"><i
                  class="fa fa-shopping-cart"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card gradient-2">
            <div class="card-body">
              <h3 class="card-title text-white">Net Profit</h3>
              <div class="d-inline-block">
                <h2 class="text-white">$ 8541</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card gradient-3">
            <div class="card-body">
              <h3 class="card-title text-white">New Customers</h3>
              <div class="d-inline-block">
                <h2 class="text-white">4565</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card gradient-4">
            <div class="card-body">
              <h3 class="card-title text-white">Customer Satisfaction</h3>
              <div class="d-inline-block">
                <h2 class="text-white">99%</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="active-member">
                <div class="table-responsive">
                  <table class="table table-xs mb-0">
                    <thead>
                    <tr>
                      <th>Customers</th>
                      <th>Product</th>
                      <th>Country</th>
                      <th>Status</th>
                      <th>Payment Method</th>
                      <th>Activity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt="">Sarah
                        Smith
                      </td>
                      <td>iPhone X</td>
                      <td>
                        <span>United States</span>
                      </td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-success" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-success  mr-2"></i> Paid</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">10 sec ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="./images/avatar/2.jpg" class=" rounded-circle mr-3" alt="">Walter
                        R.
                      </td>
                      <td>Pixel 2</td>
                      <td><span>Canada</span></td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-success" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-success  mr-2"></i> Paid</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">50 sec ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="./images/avatar/3.jpg" class=" rounded-circle mr-3" alt="">Andrew
                        D.
                      </td>
                      <td>OnePlus</td>
                      <td><span>Germany</span></td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-warning  mr-2"></i> Pending</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">10 sec ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="./images/avatar/6.jpg" class=" rounded-circle mr-3" alt="">
                        Megan S.
                      </td>
                      <td>Galaxy</td>
                      <td><span>Japan</span></td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-success" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-success  mr-2"></i> Paid</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">10 sec ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="./images/avatar/4.jpg" class=" rounded-circle mr-3" alt="">
                        Doris R.
                      </td>
                      <td>Moto Z2</td>
                      <td><span>England</span></td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-success" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-success  mr-2"></i> Paid</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">10 sec ago</span>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="./images/avatar/5.jpg" class=" rounded-circle mr-3" alt="">Elizabeth
                        W.
                      </td>
                      <td>Notebook Asus</td>
                      <td><span>China</span></td>
                      <td>
                        <div>
                          <div class="progress" style="height: 6px">
                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                          </div>
                        </div>
                      </td>
                      <td><i class="fa fa-circle-o text-warning  mr-2"></i> Pending</td>
                      <td>
                        <span>Last Login</span>
                        <span class="m-0 pl-3">10 sec ago</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-facebook">
              <span class="s-icon"><i class="fa fa-facebook"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
              <span class="s-icon"><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
              <span class="s-icon"><i class="fa fa-google-plus"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-twitter">
              <span class="s-icon"><i class="fa fa-twitter"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->

  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
  <script th:src="@{/js/Main.js}"></script>
</div>
</body>

</html>