<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main-custom-style.css}">
  <title>SSGSSAG</title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">
    <div class="container-fluid mt-3">
      <div class="row scrollable-row-wrapper fixed-height">
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-1">
            <a href="/incoming/register" class="card-body hover-card-body">
              <h3 class="card-title text-white">신규 입고</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${incoming}">7</h2>
                <p class="text-white mb-0">건 대기 중</p>
              </div>
              <span class="float-right display-5 opacity-5"><i
                  class="fa fa-shopping-cart"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-2">
            <a href="/outgoing/list" class="card-body hover-card-body">
              <h3 class="card-title text-white">신규 출고</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${outgoing}">23</h2>
                <p class="text-white mb-0">건 대기 중</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-3">
            <a href="/outgoing/list" class="card-body hover-card-body">
              <h3 class="card-title text-white">신규 주문</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${purchase}">3</h2>
                <p class="text-white mb-0">건 접수</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-4">
            <a href="/order/confirm" class="card-body hover-card-body">
              <h3 class="card-title text-white">신규 발주</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${order}">17</h2>
                <p class="text-white mb-0">건 미확정</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-1">
            <a href="/inventory/list" class="card-body hover-card-body">
              <h3 class="card-title text-white">재고</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${inventory}">2</h2>
                <p class="text-white mb-0">건 재고 부족 위험</p>
              </div>
              <span class="float-right display-5 opacity-5"><i
                  class="fa fa-shopping-cart"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 scrollable-row-item">
          <div class="card gradient-3">
            <a href="/warehouse" class="card-body hover-card-body">
              <h3 class="card-title text-white">창고</h3>
              <div class="d-inline-block">
                <h2 class="text-white" th:text="${warehouse}">9</h2>
                <p class="text-white mb-0">개 관리 중</p>
              </div>
              <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Line Chart</h4>
              <div>
                <canvas id="myChart"></canvas>
              </div>

              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

              <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                      label: '# of Votes',
                      data: [12, 19, 3, 5, 2, 3],
                      borderWidth: 1
                    }]
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                });
              </script>

            </div>
          </div>
        </div>
        <div class="col-lg-6 table-responsive">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">베스트 상품</h4>
              <table class="table table-xs mb-0">
                <thead>
                <tr>
                  <th>순위</th>
                  <th>인기 상품 명</th>
                  <th>주문 건 수</th>
                  <th>보유 재고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, iterStat : ${bestProducts}">
                  <td th:text="${iterStat.count}">1</td>
                  <td th:text="${product.name}">상품명</td>
                  <td th:text="${product.purchase}">주문건수</td>
                  <td th:text="${product.inventory}">보유재고</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Pie Chart</h4>
              <div id="flotPie1" class="flot-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Pie Chart</h4>
              <div id="flotPie2" class="flot-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->

  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
  <script th:src="@{/js/Main.js}"></script>
</div>
</body>

</html>