<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssg.ssgssag.mapper.InventoryMapper">

    <select id="selectAllInventory" resultType="InventoryVO">
        SELECT * FROM TB_INVENTORY
    </select>

    <select id="selectAllWareHouseZone" resultType="com.ssg.ssgssag.dto.WareHouseZoneDTO">
        SELECT W.V_WAREHOUSE_NM, V_ZONE_NM
        FROM TB_WAREHOUSE W JOIN TB_ZONE Z
        ON Z.V_WAREHOUSE_CD = W.V_WAREHOUSE_CD
        ORDER BY W.V_WAREHOUSE_NM, V_ZONE_NM
    </select>

    <select id="selectCategoryHierarchy" resultType="com.ssg.ssgssag.dto.CategoryFilterDTO">
        SELECT
            main.V_CATEGORY_NM AS V_MAIN_CATEGORY_NM,
            sub.V_CATEGORY_NM AS V_SUB_CATEGORY_NM,
            detail.V_CATEGORY_NM AS V_DETAIL_CATEGORY_NM
        FROM
            TB_CATEGORY AS main
                INNER JOIN
            TB_CATEGORY AS sub ON sub.V_CATEGORY_PARENT_CD = main.V_CATEGORY_CD
                INNER JOIN
            TB_CATEGORY AS detail ON detail.V_CATEGORY_PARENT_CD = sub.V_CATEGORY_CD
    </select>

</mapper>