<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssg.ssgssag.mapper.MemberMapper">

  <insert id="insertMembers" parameterType="MemberVO">
    insert into TB_MEMBER(V_MEMBER_ID, V_MEMBER_PW, V_MEMBER_NM, V_MEMBER_AUTH, V_EMAIL) values(#{vMemberId},#{vMemberPw},#{vMemberNm},'OPERATOR',#{vEmail})
  </insert>

  <select id="selectAllMembers" resultType="com.ssg.ssgssag.dto.MemberDTO">
    select * from TB_MEMBER;
  </select>



</mapper>