<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssg.ssgssag.mapper.MemberMapper">

  <insert id="insertMembers" parameterType="MemberVO">
    insert into TB_MEMBER(V_MEMBER_ID, V_MEMBER_PW, V_MEMBER_NM, V_MEMBER_AUTH, V_EMAIL)
    values(#{vMemberId},#{vMemberPw},#{vMemberNm},'OPERATOR',#{vEmail})
  </insert>

  <select id="selectAllMembers" resultType="com.ssg.ssgssag.dto.MemberDTO">
    select * from TB_MEMBER WHERE B_IS_ACTIVE=TRUE;
  </select>

  <select id="getOneMemberInfo" resultType="MemberVO">
    select * from TB_MEMBER where V_MEMBER_ID = #{vMemberId} and B_IS_ACTIVE=TRUE
  </select>


  <select id="selectMemberByName" resultType="com.ssg.ssgssag.dto.MemberDTO">
    select * from TB_MEMBER where V_MEMBER_NM = #{name} and B_IS_ACTIVE=TRUE;
  </select>

  <select id="selectMemberByString" resultType="com.ssg.ssgssag.dto.MemberDTO">
    select * from TB_MEMBER
    where 1=1
    <if test="vMemberAuth != null and vMemberAuth != 'ALL'">
      and V_MEMBER_AUTH = #{vMemberAuth}
    </if>
    <if test="vMemberNm != null">
      and V_MEMBER_NM = #{vMemberNm}
    </if>
    <if test="vMemberId != null">
      and V_MEMBER_ID= #{vMemberId}
    </if>
    <if test="vEmail != null">
      and V_EMAIL = #{vEmail}
    </if>
    and B_IS_ACTIVE=TRUE
  </select>

  <update id="updateMembersByMemberId" parameterType="MemberVo">
    UPDATE TB_MEMBER
    SET
      V_MEMBER_NM = COALESCE(NULLIF(#{vMemberNm}, V_MEMBER_NM), V_MEMBER_NM),
      V_MEMBER_AUTH = COALESCE(NULLIF(#{vMemberAuth}, V_MEMBER_AUTH), V_MEMBER_AUTH),
      V_EMAIL = COALESCE(NULLIF(#{vEmail}, V_EMAIL), V_EMAIL)
    WHERE V_MEMBER_ID = #{vMemberId}
  </update>

  <update id="updateMemberInfo" parameterType="MemberVO">
    UPDATE TB_MEMBER
    SET
      V_EMAIL = COALESCE(NULLIF(#{vEmail}, V_EMAIL), V_EMAIL),
      B_PROFILE_PIC = #{bProfilePic}
    WHERE V_MEMBER_ID = #{vMemberId}
  </update>


  <select id="checkId" resultType="boolean">
    select count(*) from TB_MEMBER where V_MEMBER_ID = #{vMemberId}
  </select>

  <select id="login" parameterType="string" resultType="MemberVO">
    select * from TB_MEMBER where V_MEMBER_ID = #{vMemberId} and V_MEMBER_PW = #{vMemberPw}
  </select>

  <select id="selectOneMemberByMemberIdAndMemberPw" parameterType="com.ssg.ssgssag.dto.MemberDTO" resultType="int">
    select count(*) from TB_MEMBER WHERE V_MEMBER_ID = #{vMemberId} AND V_MEMBER_PW = #{vMemberPw}
  </select>

  <update id="updateMemberPassword" parameterType="map">
    UPDATE TB_MEMBER
    SET
      V_MEMBER_PW = #{vMemberNewPw}
    WHERE V_MEMBER_ID = #{vMemberId}
  </update>

  <select id="selectMemberProfileImgByMemberId" parameterType="string" resultType="MemberVO">
    select B_PROFILE_PIC FROM TB_MEMBER WHERE V_MEMBER_ID = #{vMemberId}
  </select>

  <update id="deleteMemberInfo" parameterType="MemberVO">
    UPDATE TB_MEMBER
    SET
      B_IS_ACTIVE = FALSE
    WHERE V_MEMBER_ID = #{vMemberId}
  </update>

</mapper>