<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssg.ssgssag.mapper.OrderMapper">

<!-- 발주 등록   -->
    <select id="selectLastOrderSeq" resultType="Long">
        select max(pk_order_seq) from TB_ORDER;
    </select>

    <select id="selectProductSupplier" parameterType="com.ssg.ssgssag.dto.OrderProductDTO" resultType="string">
        SELECT CASE
                   WHEN NOT EXISTS (SELECT 1 FROM TB_PRODUCT WHERE V_PRODUCT_CD = #{vProductCd}) THEN 'INVALID'
                   WHEN EXISTS (
                       SELECT 1
                       FROM TB_PRODUCT
                       WHERE V_PRODUCT_CD = #{vProductCd} AND V_PRODUCT_MANUFACTOR = #{vIncomingProductSupplierNm}
                   ) THEN 'VALID'
                   ELSE 'UNLISTED'
                   END AS result;

    </select>

    <select id="selectProductInventory" parameterType="hashmap" resultType="OrderProductVO">
        <![CDATA[
            SELECT
                COALESCE(i.N_INVENTORY_CNT, 0) AS N_INVENTORY_CNT,
                p.V_PRODUCT_CD,
                p.V_PRODUCT_NM,
                p.N_PRODUCT_PRICE
            FROM TB_PRODUCT p
                     LEFT JOIN TB_INVENTORY i ON p.V_PRODUCT_CD = i.V_PRODUCT_CD
                AND i.V_WAREHOUSE_CD LIKE #{warehouseCd}
            WHERE p.V_PRODUCT_CD LIKE #{productCd};

        ]]>
    </select>

    <insert id="insertOrder" parameterType="OrderVO">
        INSERT INTO TB_ORDER (V_ORDER_STATUS, V_INCOMING_PRODUCT_SUPPLIER_NM, V_ORDER_TYPE, DT_DELIVERY_DATE, DT_ORDER_CREATED_DATE)
        VALUES (#{vOrderStatus}, #{vIncomingProductSupplierNm}, #{vOrderType},#{dtDeliveryDate}, #{dtOrderCreatedDate});
    </insert>

    <insert id="insertOrderDetail" parameterType="java.util.List">
        INSERT INTO TB_ORDER_DETAIL (PK_ORDER_SEQ, N_ORDER_CNT, V_PRODUCT_CD, V_WAREHOUSE_CD)
        VALUES
        <foreach collection="list" item="detail" separator=",">
            (#{detail.pkOrderSeq}, #{detail.nOrderCnt}, #{detail.vProductCd}, #{detail.vWarehouseCd})
        </foreach>
    </insert>

<!--  발주 조회  -->
    <select id="selectOrderDetailByDateOrString" parameterType="com.ssg.ssgssag.dto.OrderReadSearchDTO" resultType="com.ssg.ssgssag.dto.OrderProductDTO">
        SELECT DISTINCT
            o.DT_ORDER_CREATED_DATE,
            o.PK_ORDER_SEQ,
            o.V_ORDER_TYPE,
            o.V_INCOMING_PRODUCT_SUPPLIER_NM,
            od.V_WAREHOUSE_CD,
            w.V_WAREHOUSE_NM,
            o.V_ORDER_STATUS,
            o.DT_ORDER_COMPLETION_DATE
        FROM TB_ORDER o
        JOIN TB_ORDER_DETAIL od ON o.PK_ORDER_SEQ = od.PK_ORDER_SEQ
        JOIN TB_WAREHOUSE w ON od.V_WAREHOUSE_CD=w.V_WAREHOUSE_CD
        WHERE o.DT_ORDER_CREATED_DATE BETWEEN #{startDate} AND #{endDate}
        <if test="vIncomingProductSupplierNm!=null and !vIncomingProductSupplierNm.equals('')">
            AND o.V_INCOMING_PRODUCT_SUPPLIER_NM LIKE #{vIncomingProductSupplierNm}
        </if>
        <if test="vWarehouseCd!=null and !vWarehouseCd.equals('')">
            AND od.V_WAREHOUSE_CD LIKE #{vWarehouseCd}
        </if>
        <if test="vOrderStatus!=null and !vOrderStatus.equals('')">
           AND o.V_ORDER_STATUS LIKE #{vOrderStatus}
       </if>
        ORDER BY o.PK_ORDER_SEQ
    </select>

    <select id="selectOrderDetailByOrderSeq" parameterType="long" resultType="com.ssg.ssgssag.dto.OrderProductDTO">
        SELECT p.V_PRODUCT_CD, p.V_PRODUCT_NM, COALESCE(i.N_INVENTORY_CNT, 0) AS N_INVENTORY_CNT
             , od.N_ORDER_CNT, p.N_PRODUCT_PRICE, od.N_ORDER_CNT * p.N_PRODUCT_PRICE AS ORDER_TOTAL_PRICE
        FROM TB_ORDER_DETAIL od JOIN TB_ORDER o ON od.PK_ORDER_SEQ = o.PK_ORDER_SEQ
                                JOIN TB_PRODUCT p ON p.V_PRODUCT_CD=od.V_PRODUCT_CD
                                LEFT JOIN TB_INVENTORY i ON i.V_PRODUCT_CD=p.V_PRODUCT_CD AND i.V_WAREHOUSE_CD=od.V_WAREHOUSE_CD
        WHERE od.PK_ORDER_SEQ=#{orderSeq}
        ORDER BY od.PK_ORDER_DETAIL_SEQ
    </select>

<!--  발주 확정  -->
    <update id="updateOrderStatusByOrderSeq" parameterType="java.util.List">
        UPDATE TB_ORDER
        SET V_ORDER_STATUS = '확정', DT_ORDER_COMPLETION_DATE = NOW()
        WHERE PK_ORDER_SEQ IN
        <foreach collection="pkOrderSeq" item="pkOrderSeq" separator="," open="(" close=")">
            #{pkOrderSeq}
        </foreach>
    </update>
</mapper>
