<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssg.ssgssag.mapper.WareHouseMapper">


  <select id="selectAllWareHouse" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE;
  </select>

  <select id="findByWarehouseType" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE WHERE ('' = #{type} OR S_WAREHOUSE_TYPE = #{type})
  </select>

  <select id="findByWarehouseLocation" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE WHERE V_WAREHOUSE_LOC = #{location}
  </select>

  <select id="findByTypeAndLocation" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE
    WHERE S_WAREHOUSE_TYPE = #{type} AND V_WAREHOUSE_LOC = #{location}
  </select>

  <select id="findByWarehouseName" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE WHERE V_WAREHOUSE_NM LIKE CONCAT('%', #{name}, '%')
  </select>

  <select id="findAllWarehouseLocations" resultType="String">
    SELECT DISTINCT V_WAREHOUSE_LOC FROM TB_WAREHOUSE;
  </select>

  <select id="findAllWarehouseType" resultType="String">
    SELECT DISTINCT S_WAREHOUSE_TYPE FROM TB_WAREHOUSE;
  </select>

  <insert id="insertWarehouse" parameterType="com.ssg.ssgssag.dto.WareHouseDTO">
    INSERT INTO TB_WAREHOUSE (V_WAREHOUSE_CD, V_WAREHOUSE_NM, V_WAREHOUSE_LOC, S_WAREHOUSE_TYPE, PK_MEMBER_SEQ)
    VALUES (#{vWarehouseCd}, #{vWarehouseNm}, #{vWarehouseLoc}, #{sWarehouseType}, #{pkMemberSeq})
  </insert>

  <select id="selectWareHouseZone" resultType="com.ssg.ssgssag.domain.WareHouseZoneVO">
    SELECT * FROM TB_ZONE WHERE V_WAREHOUSE_CD = #{vWarehouseCd};
  </select>


</mapper>