<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssg.ssgssag.mapper.WareHouseMapper">


  <select id="selectAllWareHouse" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE;
  </select>

  <select id="findByWarehouseType" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE WHERE ('' = #{type} OR S_WAREHOUSE_TYPE = #{type})
  </select>

  <select id="findByWarehouseLocation" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE WHERE V_WAREHOUSE_LOC = #{location}
  </select>

  <select id="findByTypeAndLocation" resultType="com.ssg.ssgssag.dto.WareHouseDTO">
    SELECT * FROM TB_WAREHOUSE
    WHERE S_WAREHOUSE_TYPE = #{type} AND V_WAREHOUSE_LOC = #{location}
  </select>

</mapper>