<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>입고 리스트</title>
</head>
<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>

 <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">입고 관리</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">입고 조회</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
    <div class="container-fluid">
      <div class="col-lg-12">
        <h1>입고 조회</h1>
      </div>
      <div class="col-lg-12 mb-4 text-right">
        <div class="general-button">
          <button type="button" class="btn btn-dark mb-1 btn-primary">초기화</button>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">검색 조건</h4>
            <div class="basic-form">
              <form>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">입고기간</label>
                  <div class="col-sm-11">
                    <input class="form-control input-daterange-datepicker" type="text"
                           name="daterange" value="01/01/2015 - 01/31/2015">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">창고</label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <input type="text" class="form-control input-flat" placeholder="창고 검색"
                             data-toggle="modal" data-target="#warehouseSearchInputBox">
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="warehouseSearchInputBox">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">창고</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="col-lg-12 mb-4 text-right">
                            <div class="general-button">
                              <button type="button" class="btn btn-dark mb-2 btn-primary">조회
                              </button>
                              <button type="button" class="btn btn-dark mb-2 btn-primary">선택
                              </button>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-3 col-form-label text-left">분류</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control input-flat"
                                       placeholder="창고 유형을 입력해주세요">
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-left">검색 조건</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control input-flat"
                                       placeholder="창고명 혹은 창고 코드를 입력해주세요">
                              </div>
                            </div>

                          </div>
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                              <tr>
                                <th>No</th>
                                <th>분류</th>
                                <th>창고코드</th>
                                <th>창고명</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>1</td>
                                <td>식품</td>
                                <td>CW001</td>
                                <td>식품창고 1</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>의류</td>
                                <td>CW002</td>
                                <td>의류창고 A</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>가전제품</td>
                                <td>CW003</td>
                                <td>가전창고 1</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>도서</td>
                                <td>CW004</td>
                                <td>도서창고 B</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>화장품</td>
                                <td>CW005</td>
                                <td>화장품창고 1</td>
                              </tr>
                              </tbody>
                              <tfoot>
                              <tr>
                                <td></td>
                              </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <label class="col-sm-1 col-form-label">매입처</label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <input type="text" class="form-control input-flat" placeholder="매입처 검색"
                             data-toggle="modal" data-target="#purchaserSearchInputBox">
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="purchaserSearchInputBox">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">매입 거래처</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="col-lg-12 mb-4 text-right">
                            <div class="general-button">
                              <button type="button" class="btn btn-dark mb-2 btn-primary">조회
                              </button>
                              <button type="button" class="btn btn-dark mb-2 btn-primary">선택
                              </button>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-3 col-form-label text-left">거래처명</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control input-flat"
                                       placeholder="거래처 이름을 입력해주세요">
                              </div>
                            </div>

                          </div>
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                              <tr>
                                <th>No</th>
                                <th>거래처명</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>1</td>
                                <td>신세계푸드</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>현대그린푸드</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>테크브루</td>
                              </tr>
                              </tbody>
                              <tfoot>
                              <tr>
                                <td></td>
                              </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <label class="col-sm-1 col-form-label">입고구분</label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <select id="inputState" class="form-control">
                        <option selected="selected">입고구분 선택</option>
                        <option>신규</option>
                        <option>미입고</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <div class="col-sm-10 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">조회</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">입고 목록</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>번호</th>
                  <th>선택</th>
                  <th>입고 상태</th>
                  <th>상품 코드</th>
                  <th>입고 일자</th>
                  <th>종류</th>
                  <th>매입처</th>
                  <th>수량</th>
                  <th>단가</th>
                  <th>창고</th>
                  <th>구역</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox1" type="checkbox"></div>
                  </td>
                  <td>완료</td>
                  <td>PROD001</td>
                  <td>2024/03/01</td>
                  <td>의류</td>
                  <td>패션플러스</td>
                  <td>50</td>
                  <td>15,000</td>
                  <td>서울 센터</td>
                  <td>B-02</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox2" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD002</td>
                  <td>2024/03/05</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>30</td>
                  <td>25,000</td>
                  <td>부산 센터</td>
                  <td>C-01</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>3</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="drop-remove" type="checkbox"></div>
                  </td>
                  <td>완료</td>
                  <td>PROD003</td>
                  <td>2024/02/28</td>
                  <td>동물</td>
                  <td>SSG자바1차</td>
                  <td>1</td>
                  <td>200,000,000</td>
                  <td>서울 동물 창고</td>
                  <td>A-01</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>4</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox3" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD004</td>
                  <td>2024/03/10</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>20</td>
                  <td>40,000</td>
                  <td>서울 센터</td>
                  <td>A-03</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>5</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox4" type="checkbox"></div>
                  </td>
                  <td>완료</td>
                  <td>PROD005</td>
                  <td>2024/03/12</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>15</td>
                  <td>30,000</td>
                  <td>서울 센터</td>
                  <td>B-05</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>6</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox5" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD006</td>
                  <td>2024/03/15</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>25</td>
                  <td>50,000</td>
                  <td>부산 센터</td>
                  <td>A-02</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>7</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox6" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD007</td>
                  <td>2024/03/20</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>10</td>
                  <td>70,000</td>
                  <td>서울 센터</td>
                  <td>C-03</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>8</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox7" type="checkbox"></div>
                  </td>
                  <td>완료</td>
                  <td>PROD008</td>
                  <td>2024/03/25</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>35</td>
                  <td>20,000</td>
                  <td>부산 센터</td>
                  <td>B-01</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>9</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox8" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD009</td>
                  <td>2024/03/28</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>40</td>
                  <td>90,000</td>
                  <td>서울 센터</td>
                  <td>A-01</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>10</td>
                  <td>
                    <div class="checkbox m-t-40"><input id="checkbox9" type="checkbox"></div>
                  </td>
                  <td>대기</td>
                  <td>PROD010</td>
                  <td>2024/04/01</td>
                  <td>전자기기</td>
                  <td>테크랜드</td>
                  <td>30</td>
                  <td>150,000</td>
                  <td>부산 센터</td>
                  <td>C-02</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">입고 상세</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>단품 코드</th>
                  <th>단품명</th>
                  <th>단품 상태</th>
                  <th>상품 단가</th>
                  <th>입고 가격</th>
                  <th>수량</th>
                  <th>총 가격</th>
                  <th>브랜드</th>
                  <th>원산지</th>
                  <th>생산자</th>
                  <th>생산일자</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>ABC123</td>
                  <td>상품A</td>
                  <td>판매중</td>
                  <td>5000</td>
                  <td>4000</td>
                  <td>10</td>
                  <td>40000</td>
                  <td>XYZ 브랜드</td>
                  <td>한국</td>
                  <td>ABC 제조사</td>
                  <td>2023-05-15</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->

  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>

</div>
</body>

</html>