<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>발주 입고 등록</title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>

  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">입고 관리</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">발주 입고 등록</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
    <div class="container-fluid">
      <div class="col-lg-12">
        <h1>발주 입고 등록</h1>
      </div>
      <div class="col-lg-12 mb-4 text-right">
        <div class="general-button">
          <button type="button" class="btn btn-dark mb-1 btn-primary" data-toggle="modal"
                  data-target="#basicModal">등록
          </button>
          <button type="button" class="btn btn-dark mb-1 btn-primary reset-button">초기화</button>
        </div>
        <!-- Modal -->
        <div class="modal fade register-modal" id="basicModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">입고 등록 확인</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
              </div>
              <div class="modal-body text-left">저장하시겠습니까?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-secondary" data-dismiss="modal">취소
                </button>
                <button type="button" class="btn btn-dark btn-primary confirmButton">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">검색 조건</h4>
            <div class="basic-form">
              <form>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">입고기간</label>
                  <div class="col-sm-11">
                    <input class="form-control input-daterange-datepicker" type="text"
                           name="daterange" value="01/01/2015 - 01/31/2015">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">창고</label>
                  <div class="col-sm-11">
                    <div class="input-group">
                      <input type="text" class="form-control input-flat" placeholder="창고 검색"
                             data-toggle="modal" data-target="#warehouseSearchInputBox">
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="warehouseSearchInputBox">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">창고</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="col-lg-12 mb-4 text-right">
                            <div class="general-button">
                              <button type="button" class="btn btn-dark mb-2 btn-primary">조회
                              </button>
                              <button type="button" class="btn btn-dark mb-2 btn-primary">선택
                              </button>
                            </div>
                            <div class="row mb-1">
                              <label class="col-sm-3 col-form-label text-left">분류</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control input-flat"
                                       placeholder="창고 유형을 입력해주세요">
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-left">검색 조건</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control input-flat"
                                       placeholder="창고명 혹은 창고 코드를 입력해주세요">
                              </div>
                            </div>

                          </div>
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                              <tr>
                                <th>No</th>
                                <th>분류</th>
                                <th>창고코드</th>
                                <th>창고명</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>1</td>
                                <td>식품</td>
                                <td>CW001</td>
                                <td>식품창고 1</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>의류</td>
                                <td>CW002</td>
                                <td>의류창고 A</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>가전제품</td>
                                <td>CW003</td>
                                <td>가전창고 1</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>도서</td>
                                <td>CW004</td>
                                <td>도서창고 B</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>화장품</td>
                                <td>CW005</td>
                                <td>화장품창고 1</td>
                              </tr>
                              </tbody>
                              <tfoot>
                              <tr>
                                <td></td>
                              </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <div class="col-sm-10 d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">조회</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">입고 등록 대기 목록</h4>
            <div class="table-responsive">
              <table class="table table-striped table-bordered zero-configuration dataTable">
                <thead>
                <tr>
                  <th>No</th>
                  <th>번호</th>
                  <th>선택</th>
                  <th>입고 상태</th>
                  <th>상품 코드</th>
                  <th>입고 일자</th>
                  <th>종류</th>
                  <th>매입처</th>
                  <th>수량</th>
                  <th>단가</th>
                  <th>창고</th>
                  <th>구역</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incoming, iterStat : ${incomingList}"
                    th:data-pk-incoming-product-seq="${incoming.pkIncomingProductSeq}"
                    onclick="fetchIncomingDetails(this.getAttribute('data-pk-incoming-product-seq'))">
                  <td th:text="${iterStat.count}">1</td>
                  <td th:text="${incoming.pkIncomingProductSeq}">1</td>
                  <td>
                    <div class="checkbox m-t-40">
                      <input type="checkbox" th:id="'checkbox' + ${iterStat.count}"
                             th:data-pk-incoming-product-seq="${incoming.pkIncomingProductSeq}"
                             data-toggle="modal" data-target="#incomingDateInputBox">
                    </div>
                  </td>
                  <td th:text="${incoming.vIncomingProductStatus}">완료</td>
                  <td th:text="${incoming.vProductCd}">PROD001</td>
                  <td th:text="${#temporals.format(incoming.dtIncomingProductDate, 'yyyy/MM/dd')}">
                    2024/03/01
                  </td>
                  <td th:text="${incoming.vIncomingProductType}">의류</td>
                  <td th:text="${incoming.vIncomingProductSupplierNm}">패션플러스</td>
                  <td th:text="${incoming.nIncomingProductCnt}">50</td>
                  <td th:text="${#numbers.formatDecimal(incoming.nIncomingProductPrice, 0, 'COMMA', 0, 'POINT')}">
                    15,000
                  </td>
                  <td th:text="${incoming.vWarehouseCd}">서울 센터</td>
                  <td th:text="${incoming.vZoneCd}">B-02</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="incomingDateInputBox">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">발주 입고 정보 입력</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-lg-12 mb-4 text-right">
                <!-- 입고 예정 일자 입력 -->
                <div class="row mb-1">
                  <label class="col-sm-3 col-form-label text-left">입고 예정 일자</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="incomingDateInput">
                  </div>
                </div>
                <!-- 창고 구역 입력 -->
                <div class="row mb-1">
                  <label class="col-sm-3 col-form-label text-left">창고 구역 선택</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="warehouseZoneSelect">
                      <option value="">구역 선택</option>
                      <option value="zone1">구역 1</option>
                      <option value="zone2">구역 2</option>
                      <option value="zone3">구역 3</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-10 d-flex justify-content-center">
                <button type="button" class="btn btn-dark mb-1 btn-primary" id="confirmButton">입력</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">발주 항목 상세</h4>
          <div class="table-responsive">
            <table class="table table-hover" id="detailsTable">
              <thead>
              <tr>
                <th>단품 코드</th>
                <th>단품명</th>
                <th>단품 상태</th>
                <th>상품 단가</th>
                <th>입고 가격</th>
                <th>수량</th>
                <th>총 가격</th>
                <th>브랜드</th>
                <th>원산지</th>
                <th>생산자</th>
                <th>생산일자</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- #/ container -->
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->

<!--**********************************
    Footer end
***********************************-->
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
<script th:src="@{/js/Incoming.js}"></script>
</body>

</html>