body::-webkit-scrollbar {
  display: none;
}

.scrollable-row-wrapper {
  flex-wrap: nowrap !important;
  overflow-x: hidden;
  white-space: nowrap;
  width: calc(100% + 15px);
}

.scrollable-row-item {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

.fixed-height {
  height: 200px;
}

.scrollable-row-wrapper .col-lg-3,
.scrollable-row-wrapper .col-sm-6 {
  flex: 0 0 22% !important;
  max-width: 22% !important;
}

.scrollable-row-wrapper::-webkit-scrollbar {
  display: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.hover-card-body:hover {
  scale: 110%;
  transition: 0.2s ease-in-out;
}

.hover-card-body {
  transition: 0.2s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.card a:link{text-decoration: none; color:#fff !important}
.card a:visited{text-decoration: none; color:#fff !important}
.card a:hover{text-decoration: none; color:#fff !important}

