<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>발주 조회</title>
</head>
<body>
<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>

  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">발주관리</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">발주조회</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <h2 class="header-content">발주 조회</h2>
                <div class="header-right">
                    <div class="btn mb-1">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenterDelete">초기화</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenterDelete" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content  d-flex justify-content-center">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirm</h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body center">
                                        <p>초기화하시겠습니까?</p>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn" data-dismiss="modal">취소</button>
                                        <button type="button" class="btn" onclick="orderReadPageReset()" data-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="card-title">
                          <h4>검색조건</h4>
                      </div>
                      <div class="basic-form"  id="order-register-form">
                          <form id="order-read-search-form">
                              <div class="form-group row">
                                  <label class="col-sm-1 col-form-label">발주기간</label>
                                  <div class="col-sm-11">
                                      <input class="form-control input-daterange-datepicker" id="order-period" type="text" name="daterange">

                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-1 col-form-label">매입처</label>
                                  <div class="col-sm-3">
                                      <div class="input-group">
                                          <input type="text" class="form-control input-flat input-supplier" id="incoming-product-supplier-nm" placeholder="매입처 검색"
                                                 data-toggle="modal" data-target="#purchaserSearchInputBox">
                                      </div>
                                  </div>
                                  <div class="modal fade" id="purchaserSearchInputBox">
                                      <div class="modal-dialog modal-lg" role="document">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title">매입 거래처</h5>
                                                  <button type="button" class="close" data-dismiss="modal">
                                                      <span>&times;</span>
                                                  </button>
                                              </div>
                                              <div class="modal-body">
                                                  <div class="col-lg-12 mb-4 text-right">
                                                      <div class="row mb-1">
                                                          <label class="col-sm-3 col-form-label text-left">거래처명</label>
                                                          <div class="col-sm-9">
                                                              <input type="text" class="form-control input-flat" id="supplierSearchInput" placeholder="거래처 이름을 입력해주세요">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="table-responsive">
                                                      <table class="table table-hover">
                                                          <thead>
                                                          <tr>
                                                              <th>No</th>
                                                              <th>거래처명</th>
                                                          </tr>
                                                          </thead>
                                                          <tbody>
                                                          </tbody>
                                                          <tfoot>
                                                          <tr>
                                                              <td></td>
                                                          </tr>
                                                          </tfoot>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <label class="col-sm-1 col-form-label">창고</label>
                                  <div class="col-sm-3">
                                      <div class="input-group">
                                          <input type="text" class="form-control input-flat input-whsearch" id="warehouse-cd" placeholder="창고 검색"
                                                 data-toggle="modal" data-target="#warehouseSearchInputBox">
                                      </div>
                                  </div>
                                  <div class="modal fade" id="warehouseSearchInputBox">
                                      <div class="modal-dialog modal-lg" role="document">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title">창고</h5>
                                                  <button type="button" class="close" data-dismiss="modal">
                                                      <span>&times;</span>
                                                  </button>
                                              </div>
                                              <div class="modal-body">
                                                  <div class="table-responsive">
                                                      <table class="table table-hover">
                                                          <thead>
                                                          <tr>
                                                              <th>No</th>
                                                              <th>분류</th>
                                                              <th>창고코드</th>
                                                              <th>창고명</th>
                                                          </tr>
                                                          </thead>
                                                          <tbody>
                                                          </tbody>
                                                          <tfoot>
                                                          <tr>
                                                              <td></td>
                                                          </tr>
                                                          </tfoot>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>


                                  <label class="col-sm-1 col-form-label">발주구분</label>
                                  <div class="col-sm-3">
                                      <div class="input-group">
                                          <select id="order-status" class="form-control">
                                              <option selected="selected">선택</option>
                                              <option>확정</option>
                                              <option>미확정</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row d-flex justify-content-center">
                                <button type="button" class="btn mb-1 btn-info" id="order-read-btn" onclick="readOrder()">조회</button>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>

        <div class="col-lg-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>발주목록</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration dataTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>발주일자</th>
                                        <th>발주번호</th>
                                        <th>발주유형</th>
                                        <th>매입처</th>
                                        <th>창고</th>
                                        <th>납품예정일자</th>
                                        <th>발주확정</th>
                                        <th>발주확정일시</th>
                                    </tr>
                                </thead>
                                <tbody class="order-single-tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
          Content body end
      ***********************************-->
    </div>
  <!--**********************************
    Main wrapper end
***********************************-->
    <script th:src="@{/js/orderRead.js}"></script>

  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
</div>
</body>
</html>