<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>로그인</title>
</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<div class="login-form-bg h-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-xl-6">
        <div class="form-input-content">
          <div class="card login-form mb-0">
            <div class="card-body pt-5">
              <a class="text-center"> <h4>비밀번호 찾기</h4></a>

              <form class="mt-5 mb-5 login-input" action="/reset-password" method="post">
<!--              <form class="mt-5 mb-5 login-input">-->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="아이디" name="inputId">
                </div>

                <div class="text-center" style="margin-top: 50px;">
                  <button class="btn login-form__btn submit align-content-center" id="password-reset-btn">임시 비밀번호 발급</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
</body>
</html>
