<!DOCTYPE html>
<html class="h-100" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/layout/head :: headFragment"></th:block>
    <title>메일 전송</title>
</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center"> <h4>메일 전송 완료</h4></a>

                            <form class="mt-5 mb-5 login-input">
                               <p>메일함을 확인해주세요!</p>
<!--                                <a th:href="@{/member/login.html}">로그인으로 이동</a>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
    Scripts
***********************************-->
<th:block th:replace="/layout/script :: scriptFragment"></th:block>
</body>
</html>
