<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <th:block th:fragment="headFragment">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
      <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
      <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
      <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>

      <!-- Favicon icon -->
      <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo.png}">
      <!-- Custom Stylesheet -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/sweetalert/css/sweetalert.css}">
      <link rel="stylesheet" type="text/css" th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

      <!-- Date picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}">
      <!-- Daterange picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}">
      <!-- Pignose Calender -->
      <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
      <!-- Chartist -->
      <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
      <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">
      <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
      <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">
      <link th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css}">
      <link th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css}">


    </head>
  </th:block>
</html>