<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <th:block th:fragment="headFragment">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
      <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

      <!-- Favicon icon -->
      <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
      <!-- Custom Stylesheet -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/sweetalert/css/sweetalert.css}">

      <!-- Date picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}">
      <!-- Daterange picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}">
      <!-- Pignose Calender -->
      <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
      <!-- Chartist -->
      <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
      <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">

    </head>
  </th:block>
</html>