<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <th:block th:fragment="headFragment">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
      <!-- Favicon icon -->
      <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
      <!-- Custom Stylesheet -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}">

      <!-- Date picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}">
      <!-- Daterange picker plugins css -->
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}">
    </head>
  </th:block>
</html>