<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
  .search-results div {
    text-align: left;
    padding: 8px;
  }

  .search-results a {
    text-decoration: none;
    color: gray;
  }
</style>
<th:block th:fragment="navFragment">
  <div class="nav-header" style="background-color: #ffffff;">
    <script th:src="@{/js/dashboard/profile.js}"></script>
    <div class="brand-logo">
      <a href="/" style="padding: 0;">
        <b class="logo-abbr"><img th:src="@{/images/logo.png}"
                                  style="min-width: 50px; margin-top: 20px;" alt=""> </b>
        <span class="logo-compact"><img th:src="@{/./images/logo-compact.png}" alt=""></span>
        <span class="brand-title">
          <img th:src="@{/images/logo-text.png}" style="max-width: 240px;" alt="">
        </span>
      </a>
    </div>
  </div>

  <div class="header">
    <div class="header-content clearfix">

      <div class="nav-control">
        <div class="hamburger">
          <span class="toggle-icon"><i class="icon-menu"></i></span>
        </div>
      </div>
      <div class="header-left">
        <div class="row" style="display:flex; flex-direction: row">
          <div class="input-group icons" style="display: flex; align-items: flex-start;">
            <div class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"
                  style="display: flex; align-items: flex-start;">
              <i class="mdi mdi-magnify" style="font-size: 24px;"></i> <!-- 아이콘 크기 조정 -->
            </span>
            </div>
            <!-- 검색 입력 필드 -->
            <div class="search-container" style="flex-grow: 1;">
              <input type="search" class="form-control searchable-input" placeholder="메뉴를 검색해주세요."
                     aria-label="Search Dashboard" id="menuSearch" autocomplete="off">
              <div class="search-results" style="display: none; background-color: white; border: solid 0.5px gray"></div>
            </div>
          </div>

        </div>


        <div class="drop-down   d-md-none">
          <form action="#">
            <input type="text" class="form-control" placeholder="Search">
          </form>
        </div>

      </div>
      <div class="header-right">
        <ul class="clearfix">

          <li class="icons dropdown">
            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
              <span class="activity active"></span>
              <img class="user-profile-img" th:src="@{/images/profile/default-img.png}" height="40" width="40" alt="">
            </div>
            <div class="drop-down dropdown-profile   dropdown-menu">
              <div class="dropdown-content-body">
                <ul>
                  <li>
                    <a href="/member/info"><i class="icon-user"></i> <span>Profile</span></a>
                  </li>
                  <hr class="my-2">
                  <li>
                    <a sec:authorize="isAnonymous()" href="/login"><i class="icon-key"></i> <span>Login</span></a>
                    <a sec:authorize="isAuthenticated()" href="/logout"><i class="icon-lock"></i> <span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</th:block>
