<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 공통으로 쓰이는 script 파일을 넣는다. -->
<th:block th:fragment="scriptFragment">
  <script th:src="@{/plugins/common/common.min.js}"></script>
  <script th:src="@{/js/custom.min.js}"></script>
  <script th:src="@{/js/settings.js}"></script>
  <script th:src="@{/js/gleek.js}"></script>
  <script th:src="@{/js/styleSwitcher.js}"></script>
  <script th:src="@{/plugins/moment/moment.js}"></script>
  <script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

  <!-- Clock Plugin JavaScript -->
  <script th:src="@{/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script>
  <!-- Color Picker Plugin JavaScript -->
  <script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js}"></script>
  <script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js}"></script>
  <script th:src="@{/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js}"></script>
  <!-- Date Picker Plugin JavaScript -->
  <script th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
  <!-- Date range Plugin JavaScript -->
  <script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
  <script th:src="@{/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
  <script th:src="@{/js/plugins-init/form-pickers-init.js}"></script>

  <script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

  <!-- Chartjs -->
  <script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
  <!-- Circle progress -->
  <script th:src="@{/plugins/circle-progress/circle-progress.min.js}"></script>
  <!-- Datamap -->
  <script th:src="@{/plugins/d3v3/index.js}"></script>
  <script th:src="@{/plugins/topojson/topojson.min.js}"></script>
  <script th:src="@{/plugins/datamaps/datamaps.world.min.js}"></script>
  <!-- Morrisjs -->
  <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
  <script th:src="@{/plugins/morris/morris.min.js}"></script>
  <!-- Pignose Calender -->
  <script th:src="@{/plugins/moment/moment.min.js}"></script>
  <script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
  <!-- ChartistJS -->
  <script th:src="@{/plugins/chartist/js/chartist.min.js}"></script>
  <script th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>

  <script th:src="@{/js/dashboard/dashboard-1.js}"></script>

  <script th:src="@{/js/orderRegister.js}"></script>
  <script th:src="@{https://unpkg.com/xlsx/dist/xlsx.full.min.js}"></script>


</th:block>
</html>
