<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>재고 조정</title>
</head>


<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
    <div class="container-fluid">
      <!-- 재고  조정-->
      <h2>재고 조정</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">조정 선택</h4>
              <div class="form-basic">
                <div class="form-group">
                  <!-- <h6 class="mr-3">조정 선택</h6> -->
                  <label class="col-form-label mr-4">구분</label>
                  <label class="radio-inline mr-3">
                    <input type="radio" name="optradio"> 입고 조정 </label>
                  <label class="radio-inline mr-3">
                    <input type="radio" name="optradio"> 출고 조정 </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> 재고 목록 </h4>
              <div class="form-inline">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>선택</th>
                      <th>재고 번호</th>
                      <th>전표 일자</th>
                      <th>상품 코드</th>
                      <th>재고 수량</th>
                      <th>창고 코드</th>
                      <th>창고 구역 코드</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <!-- 재고 번호에 맞는 이력 모달로 불러오기 -->
                      <td>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""></label>
                        </div>
                      </td>
                      <td>2403160103</td>
                      <td>2024-02-15</td>
                      <td>880-5678-0523</td>
                      <td>100</td>
                      <td>A-01</td>
                      <td>KR-SEO-02</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">수량 선택</h4>
              <div class="form-inline">
                <div class="form-group">
                  <label class="col-form-label mr-2">수량</label>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <input class="form-control form-control-sm" type="number" min="0">
                    </div>
                  </div>
                  <!-- 최종 버튼 추가하기 -->
                  <div class="row">
                    <div class="col text-center">
                      <button type="button" class="btn mb-1 btn-dark">확인</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
  Content body end
***********************************-->


  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
</div>
</body>

</html>