<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <!-- Custom Stylesheet -->
  <link href="css/style.css" rel="stylesheet">



</head>

<body>

  <!--*******************
    Preloader start
********************-->
  <div id="preloader">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>
  <!--*******************
    Preloader end
********************-->


  <!--**********************************
    Main wrapper start
***********************************-->
  <div id="main-wrapper">

    <!--**********************************
      Nav header start
  ***********************************-->
    <div class="nav-header">
      <div class="brand-logo">
        <a href="index.html">
          <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
          <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
          <span class="brand-title">
            <img src="images/logo-text.png" alt="">
          </span>
        </a>
      </div>
    </div>
    <!--**********************************
      Nav header end
  ***********************************-->

    <!--**********************************
      Header start
  ***********************************-->
    <div class="header">
      <div class="header-content clearfix">

        <div class="nav-control">
          <div class="hamburger">
            <span class="toggle-icon"><i class="icon-menu"></i></span>
          </div>
        </div>
        <div class="header-left">
          <div class="input-group icons">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i
                  class="mdi mdi-magnify"></i></span>
            </div>
            <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
            <div class="drop-down   d-md-none">
              <form action="#">
                <input type="text" class="form-control" placeholder="Search">
              </form>
            </div>
          </div>
        </div>
        <div class="header-right">
          <ul class="clearfix">



            <!-- 여기서부터 메일 알림 -->
            <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                <i class="mdi mdi-email-outline"></i>
                <span class="badge gradient-1 badge-pill badge-primary">3</span>
              </a>

              <div class="drop-down animated fadeIn dropdown-menu">
                <div class="dropdown-content-heading d-flex justify-content-between">
                  <span class="">3 New Messages</span>

                </div>
                <div class="dropdown-content-body">
                  <ul>
                    <li class="notification-unread">
                      <a href="javascript:void()">
                        <img class="float-left mr-3 avatar-img" alt="">
                        <div class="notification-content">
                          <div class="notification-heading">[재고 부족] 갤럭시 S23</div>
                          <div class="notification-timestamp">13분 전</div>
                          <!-- <div class="notification-text">갤럭시 S23의 총 재고 수량이 0 입니다.</div> -->
                        </div>
                      </a>
                    </li>
                    <li class="notification-unread">
                      <a href="javascript:void()">
                        <img class="float-left mr-3 avatar-img" alt="">
                        <div class="notification-content">
                          <div class="notification-heading">[재고 부족] 맥북 프로 16인치</div>
                          <div class="notification-timestamp">58분 전</div>
                          <!-- <div class="notification-text">맥북 프로 16인치의 총 재고 수량이 0 입니다.</div> -->
                        </div>
                      </a>
                    </li>
                    <li class="notification-unread">
                      <a href="javascript:void()">
                        <img class="float-left mr-3 avatar-img" alt="">
                        <div class="notification-content">
                          <div class="notification-heading">[재고 부족] 아디다스 축구화</div>
                          <div class="notification-timestamp">1시간 7분 전</div>
                          <!-- <div class="notification-text">아디다스 축구화의 총 재고 수량이 0 입니다.</div> -->
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>






            <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="badge badge-pill gradient-2 badge-primary">3</span>
              </a>
              <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                <div class="dropdown-content-heading d-flex justify-content-between">
                  <span class="">2 New Notifications</span>

                </div>
                <div class="dropdown-content-body">
                  <ul>
                    <li>
                      <a href="javascript:void()">
                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                        <div class="notification-content">
                          <h6 class="notification-heading">Events near you</h6>
                          <span class="notification-text">Within next 5 days</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void()">
                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                        <div class="notification-content">
                          <h6 class="notification-heading">Event Started</h6>
                          <span class="notification-text">One hour ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void()">
                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                        <div class="notification-content">
                          <h6 class="notification-heading">Event Ended Successfully</h6>
                          <span class="notification-text">One hour ago</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void()">
                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                        <div class="notification-content">
                          <h6 class="notification-heading">Events to Join</h6>
                          <span class="notification-text">After two days</span>
                        </div>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>
            </li>
            <!--          <li class="icons dropdown d-none d-md-flex">-->
            <!--            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">-->
            <!--              <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>-->
            <!--            </a>-->
            <!--            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">-->
            <!--              <div class="dropdown-content-body">-->
            <!--                <ul>-->
            <!--                  <li><a href="javascript:void()">English</a></li>-->
            <!--                  <li><a href="javascript:void()">Dutch</a></li>-->
            <!--                </ul>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </li>-->
            <li class="icons dropdown">
              <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                <span class="activity active"></span>
                <img src="images/user/1.png" height="40" width="40" alt="">
              </div>
              <div class="drop-down dropdown-profile   dropdown-menu">
                <div class="dropdown-content-body">
                  <ul>
                    <li>
                      <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                    </li>
                    <li>
                      <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span>
                        <div class="badge gradient-3 badge-pill badge-primary">3</div>
                      </a>
                    </li>

                    <hr class="my-2">
                    <li>
                      <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                    </li>
                    <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

    <!--**********************************
      Sidebar start
  ***********************************-->
    <div class="nk-sidebar">
      <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
          <li class="nav-label">WMS</li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-speedometer menu-icon"></i><span class="nav-text">대시보드</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./index.html">Home 1</a></li>
              <!-- <li><a href="./index-2.html">Home 2</a></li> -->
            </ul>
          </li>
          <li class="mega-menu mega-menu-sm">
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-globe-alt menu-icon"></i><span class="nav-text">입고관리</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./layout-blank.html">발주입고 등록</a></li>
              <li><a href="./layout-one-column.html">입고 승인</a></li>
              <li><a href="./layout-two-column.html">입고 조회</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-envelope menu-icon"></i> <span class="nav-text">발주 관리</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./email-inbox.html">발주 등록</a></li>
              <li><a href="./email-read.html">발주 확정</a></li>
              <li><a href="./email-compose.html">발주 조회</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">창고 관리</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./app-profile.html">창고 조회 및 등록</a></li>
              <li><a href="./app-profile.html">창고 지도 보기</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-graph menu-icon"></i> <span class="nav-text">재고 관리</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./chart-flot.html">재고 현황 조회</a></li>
              <li><a href="./chart-morris.html">재고 조정</a></li>
              <li><a href="./chart-chartjs.html">재고 이동</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
              <i class="icon-graph menu-icon"></i> <span class="nav-text">회원 관리</span>
            </a>
            <ul aria-expanded="false">
              <li><a href="./chart-flot.html">회원 정보 수정</a></li>
              <li><a href="./chart-morris.html">회원 탈퇴</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!--**********************************
      Sidebar end
  ***********************************-->

    <!--**********************************
      Content body start
  ***********************************-->
    <div class="content-body">

      <div class="row page-titles mx-0">
        <div class="col p-md-0">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
          </ol>
        </div>
      </div>
      <!-- row -->

      <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
      <div class="container-fluid">
        <!-- page1. 재고 현황 조회 -->
        <h2>재고 현황 조회</h2>

        <!-- 필터링  -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> 필터 선택 </h4>
                <div class="form-basic">
                  <!-- 옵션 1 -->
                  <div class="form-group">
                    <label class="col-form-label mr-3">카테고리</label>
                    <!-- <h6 class="mr-3">카테고리별 분류</h6> -->
                    <select class="custom-select mr-2 col-sm-2">
                      <option selected="selected">대분류</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="custom-select mr-2 col-sm-2">
                      <option selected="selected">중분류</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="custom-select col-sm-2">
                      <option selected="selected">소분류</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="row">
                    <!-- 옵션 2 -->
                    <label class="col-sm-1 col-form-label">상품</label>
                    <select class="custom-select mr-2 col-sm-2">
                      <option selected="selected">선택</option>
                      <option value="1">상품코드</option>
                      <option value="2">상품이름</option>
                    </select>
                    <div class="form-group">
                      <div class="col-sm-10">
                        <input class="form-control form-control-sm" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- 옵션 3 -->
                    <label class="col-sm-1 col-form-label">창고</label>
                    <select class="custom-select mr-2 col-sm-2">
                      <option selected="selected">창고</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="custom-select mr-2 col-sm-2">
                      <option selected="selected">구역</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <!-- 최종 버튼 추가하기 -->
                <div class="row mt-4">
                  <div class="col text-center">
                    <button type="button" class="btn mb-1 btn-dark">조회</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 재고 목록 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> 재고 목록 </h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th>No</th>
                        <th>재고 번호</th>
                        <th>전표 일자</th>
                        <th>상품 코드</th>
                        <th>재고 수량</th>
                        <th>창고 코드</th>
                        <th>창고 구역 코드</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <!-- 재고 번호에 맞는 이력 모달로 불러오기 -->
                        <td data-toggle="modal" data-target="#inventoryhisotry">
                          2403160103
                        </td>
                        <td>2024-02-15</td>
                        <td>880-5678-0523</td>
                        <td>100</td>
                        <td>A-01</td>
                        <td>KR-SEO-02</td>
                      </tr>
                  </table>
                  <!-- Modal -->
                  <div class="modal fade" id="inventoryhisotry">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">재고 이력</h5>
                          <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>이력 일련 번호</th>
                                  <th>재고 수량</th>
                                  <th>변경 날짜</th>
                                  <th>변경 구분</th>
                                  <th>출발 창고</th>
                                  <th>창고 구역</th>
                                  <th>도착 창고</th>
                                  <th>창고 구역</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>2403160103</td>
                                  <td>20</td>
                                  <td>2024-03-18</td>
                                  <td>입고수량조정</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                  <td>-</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
      Content body end
  ***********************************-->


      <!--**********************************
      Footer start
  ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
          </p>
        </div>
      </div>
      <!--**********************************
      Footer end
  ***********************************-->
    </div>
    <!--**********************************
    Main wrapper end
***********************************-->

    <!--**********************************
    Scripts
***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

</body>

</html>