<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>재고 이동</title>
</head>
<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">재고 관리</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">재고 이동</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
    <div class="container-fluid">
      <h2>재고 이동</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> 재고 목록 </h4>
              <div class="form-inline">
                <div class="table-responsive">
                  <table class="table table-hover zero-configuration">
                    <thead>
                    <tr>
                      <th>재고 번호</th>
                      <th>선택</th>
                      <th>전표 일자</th>
                      <th>상품 코드</th>
                      <th>상품 이름</th>
                      <th>재고 수량</th>
                      <th>창고 코드</th>
                      <th>창고 이름</th>
                      <th>구역 코드</th>
                    </tr>
                    </thead>
                    <tbody class="inventory-list-table-body">
                    <tr th:each="inventory : ${inventoryList}">
                      <td th:text="${inventory.pkInventorySeq}"></td>
                      <td>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input inventory-checkbox" th:attr="data-inventory-id=${inventory.pkInventorySeq}">
                          </label>
                        </div>
                      </td>
                      <td th:text="${#temporals.format(inventory.dtInventorySlipDate, 'yyyy-MM-dd')}"></td>
                      <td th:text="${inventory.vProductCd}"></td>
                      <td th:text="${inventory.vProductNm}"></td>
                      <td th:text="${inventory.nInventoryCnt}"></td>
                      <td th:text="${inventory.vWarehouseCd}"></td>
                      <td th:text="${inventory.vWarehouseNm}"></td>
                      <td th:text="${inventory.vZoneCd}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 필터링  -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">창고 선택</h4>
              <div class="form-basic">
                <!-- 옵션 1 -->
                <div class="form-group">
                  <label class="col-form-label mr-3">변경 창고</label>
                  <select class="custom-select mr-2 col-sm-2" id="select-warehouse">
                    <option selected="selected">창고</option>
                  </select>
                  <select class="custom-select mr-2 col-sm-2" id="select-zone">
                    <option selected="selected">구역</option>
                  </select>
                </div>
                <div class="col text-center">
                  <button type="button" class="btn mb-1 btn-primary" id="submitMovementButton">확인</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
    Content body end
***********************************-->

  <!--**********************************
      Scripts
  ***********************************-->
  <th:block th:replace="/layout/script :: scriptFragment"></th:block>
  <script th:src="@{/js/Inventory.js}"></script>
  <script th:src="@{/js/InventorySearch.js}"></script>
</div>
</body>

</html>