<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/layout/head :: headFragment"></th:block>
  <title>재고 현황 조회</title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<th:block th:replace="/layout/preloader :: preloaderFragment"></th:block>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <th:block th:replace="/layout/nav :: navFragment"></th:block>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <th:block th:replace="/layout/sidebar :: sidebarFragment"></th:block>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">재고 관리</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">재고 현황 조회</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <!-- 여기에 각자 맡은 페이지를 넣어서 작업하면 됩니다.-->
    <div class="container-fluid">
      <!-- page1. 재고 현황 조회 -->
      <h2>재고 현황 조회</h2>

      <div class="col-lg-12 mb-4 text-right">
        <div class="general-button">
          <button type="button" class="btn btn-dark mb-1 btn-primary" onclick="printPage()">인쇄</button>
        </div>
      </div>

      <!-- 필터링  -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> 필터 선택 </h4>
              <div class="form-basic" id="inventory-list-search-form">
                <!-- 옵션 1 -->
                <div class="form-group">
                  <label class="col-form-label mr-3 mt-3">카테고리</label>
                  <select class="custom-select mr-2 col-sm-2" id="select-main-category">
                    <option selected="selected">대분류</option>
                  </select>
                  <select class="custom-select mr-2 col-sm-2" id="select-sub-category">
                    <option selected="selected">중분류</option>
                  </select>
                  <select class="custom-select col-sm-2" id="select-detail-category">
                    <option selected="selected">소분류</option>
                  </select>
                </div>
                <div class="row">
                  <!-- 옵션 3 -->
                  <label class=" col-form-label mr-5 ml-3">창고</label>
                  <select class="custom-select mr-2 col-sm-2" id="select-warehouse">
                    <option selected="selected">창고</option>
                  </select>
                  <select class="custom-select mr-2 col-sm-2" id="select-zone">
                    <option selected="selected">구역</option>
                  </select>
                </div>
              </div>
              <!-- 최종 버튼 추가하기 -->
              <div class="row mt-4">
                <div class="col text-center">
                  <button type="reset" class="btn mb-1 btn-default" onclick="inventoryReadPageReset()">초기화</button>
                  <button type="button" class="btn mb-1 btn-primary" id="search-button">조회</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 재고 목록 -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> 재고 목록 </h4>
              <div class="table-responsive">
                <table class="table table-hover zero-configuration">
                  <thead>
                  <tr>
                    <th>재고 번호</th>
                    <th>전표 일자</th>
                    <th>상품 코드</th>
                    <th>상품 이름</th>
                    <th>재고 수량</th>
                    <th>창고 코드</th>
                    <th>창고 이름</th>
                    <th>구역 코드</th>
                  </tr>
                  </thead>
                  <tbody class="inventory-list-table-body">
                    <tr th:each="inventory : ${inventoryList}">
                      <td data-toggle="modal" data-target="#inventory-history-modal" th:onclick="'handleInventoryDetailLinkClick(' + ${inventory.pkInventorySeq} + ')'">
                        <a class="inventory-detail-link" th:attr="data-inventory-id=${inventory.pkInventorySeq}">
                          <span th:text="${inventory.pkInventorySeq}" class="text-primary"></span>
                        </a>

                      </td>
                      <td th:text="${#temporals.format(inventory.dtInventorySlipDate, 'yyyy-MM-dd')}"></td>
                      <td th:text="${inventory.vProductCd}"></td>
                      <td th:text="${inventory.vProductNm}"></td>
                      <td th:text="${inventory.nInventoryCnt}"></td>
                      <td th:text="${inventory.vWarehouseCd}"></td>
                      <td th:text="${inventory.vWarehouseNm}"></td>
                      <td th:text="${inventory.vZoneCd}"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="general-button col-lg-12 text-center">
                  <button type="button" class="btn btn-dark mb-1 btn-primary" onclick="exportTableToExcel('현재 재고 현황')">엑셀로 내보내기</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="inventory-history-modal" tabindex="-1" role="dialog" aria-labelledby="inventory-history-modal-label">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <div style="float: left;">
                          <h5 class="modal-title" id="inventory-history-modal-label">
                            재고 이력
                          </h5>
                          <h6 style="display: inline;">재고 번호 :</h6>
                          <span id="inventory-seq" class="text-primary" style="display: inline;"></span>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span>&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                            <tr>
                              <th>No</th>
                              <th>재고 수량</th>
                              <th>변경 날짜</th>
                              <th>변경 구분</th>
                              <th>출발 창고</th>
                              <th>창고 구역</th>
                              <th>도착 창고</th>
                              <th>창고 구역</th>
                            </tr>
                            </thead>
                            <tbody id="inventory-history-modal-body">
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
      Content body end
  ***********************************-->
      <!--**********************************
          Main wrapper end
      ***********************************-->
      <script th:src="@{/js/Inventory.js}"></script>
      <script th:src="@{/js/InventorySearch.js}"></script>

      <!--**********************************
          Scripts
      ***********************************-->
      <th:block th:replace="/layout/script :: scriptFragment"></th:block>
    </div>
  </div>
</div>
</body>

</html>